---

---

<section class="full-bleed">
  <div class="grid">
    <h3>cv</h3>
    <dl class="one">
      <h4>uddannelse</h4>
      <div class="item">
        <dt>KEA Multimediedesigner</dt>
        <dd class="tid">August 2023 –</dd>
      </div>
      <div class="item">
        <dt>ROSKILDE FESTIVAL HØJSKOLE</dt>
        <dd>Kunstlinjen</dd>
        <dd class="tid">Januar - juni 2022</dd>
      </div>

      <div class="item">
        <dt>SLOTSHAVEN GYMNASIUM</dt>
        <dd>HHX - med Innovation som studieretning</dd>
        <dd class="tid">2018-2021</dd>
      </div>
      <div class="item">
        <dt>STENHUS KOSTSKOLE</dt>
        <dd class="tid">2017- 2018</dd>
      </div>
      <div class="item">
        <dt>ODSHERRED EFTERSKOLE</dt>
        <dd>Kunstlinjen</dd>
        <dd class="tid">2016 – 2017</dd>
      </div>
      <div class="item">
        <dt>GENTOFTE SKOLE</dt>
        <dd>Praktik i TV-produktionsselskabet DocEye</dd>
        <dd class="tid">2007 – 2016</dd>
      </div>
    </dl>
    <dl class="to">
      <h4>job</h4>
      <div class="item">
        <dt>OPERATE</dt>
        <dd>Piccoline og tilkaldevikar</dd>
        <dd class="tid">Juli 2016 –</dd>
      </div>
      <div class="item">
        <dt>ESPRESSO HOUSE</dt>
        <dd>Barista</dd>
        <dd class="tid">August 2022- februar 2023</dd>
      </div>
      <div class="item">
        <dt>PELAGOs – færøsk fiskefabrik</dt>
        <dd>Fabriksarbejder</dd>
        <dd class="tid">Juli- december 2021</dd>
      </div>
      <div class="item">
        <dt>STINE A JEWELRY</dt>
        <dd>Smykkepige</dd>
        <dd class="tid">Juni 2013 – juni 2016</dd>
      </div>
    </dl>
  </div>
</section>
<style>
  h3 {
    justify-self: start;
  }
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
  } */

  section {
    background-color: azure;
    padding: 4rem;
  }
  dt {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  dd {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    --flow-space: 0.31rem;
  }
  .tid {
    font-size: 1rem;
    font-weight: 300;
  }
  dl {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    place-items: center;
    align-items: start;
  }

  @media (min-width: 800px) {
    h3 {
      justify-self: start;
    }
    section {
      /* height: 100svh; */
      background-color: azure;
      padding: 4rem;
      place-content: center;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      align-items: start;
    }
    .one {
      grid-column: 2;
    }
    .to {
      grid-column: 3;
    }
  }
</style>
