---
import { Icon } from "astro-icon/components";
---

<section class="full-bleed">
  <div>
    <h1>hey jeg er <i class="navn">katinka</i></h1>
    <p>
      Jeg læser <Icon name="zikzak" /> multimediedesign med studieretningen frontend.
    </p>
    <p>
      JEG SØGER <strong>PRAKTIKPLADS,</strong>
      <Icon name="spiral3" /> hvor jeg kan udvikle mine kompetencer som <i
        >newbie</i
      >
      <Icon name="heart" /> frontend koder.
    </p>

    <p>Kunne vi være et match?</p>
  </div>
  <!-- <div class="mach full-bleed">
    <Icon name="stjernerod" />
 
  </div> -->
</section>
<style>
  /* [data-icon] {
    width: 60px;
    height: auto;
    margin: 40px;
  } */
  [data-icon]:hover {
    /* width: 60px;
    height: auto;
    margin: 40px; */
    align-self: center;
    /* rotate: 180deg;
    transition: 3s; */
  }
  h1 {
    /* color: #000;
    font-family: Helvetica;
    font-size: 5.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; */
  }
  /* .mach {
    background-color: aquamarine;
  } */
  p {
    /* color: #000;
    font-family: Helvetica;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
  }
  strong {
    font-weight: 500;
  }
  i {
    font-style: italic;
    font-weight: 300;
  }
  section {
    padding-bottom: 7rem;
    /* height: 100svh; */
    /* block-size: 100svh; */
    /* background-color: var(--farve-7); */
  }
  .navn {
    font-style: normal;
    color: var(--farve-8);
    text-transform: uppercase;
    font-weight: 500;
  }
  h1 {
    font-weight: 400;
    font-size: var(--fluid-30-70);
    height: fit-content;
  }
  p {
    font-size: var(--fluid-30-70);
    margin: 0px;
    padding: 0px;
    height: fit-content;
  }
  [data-icon="spiral3"] {
    margin: 0;
    width: 3rem;
    height: auto;
  }

  [data-icon] {
    place-self: center;
    align-self: center;
    justify-self: center;
    margin: 0;
    width: 3rem;
    height: auto;
  }
  /* i .spiral {
    background: var(--spiral);
    height: 30px;
    width: 30px;
  } */
</style>
