---

---

<section class="full-bleed">
  <h3>kompetencer</h3>
  <div class="inner">
    <div></div>
    <div>
      <hr />
      <p>html</p>
      <hr />
      <p>css</p>
      <hr />
      <p>javasript</p>
      <hr />
      <p>astro</p>
      <hr />
      <p>next.js</p>
      <hr />
      <p>react</p>
      <hr />
      <p>figma</p>
      <hr />
      <p>kendskab til adobe ilustrater, afterefteks ,</p>
    </div>
  </div>
</section>

<style>
  h3 {
    color: #000;
    font-family: Helvetica;
    font-size: 5.875rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }
  section {
    height: 100vh;
    background: #ffb2af;
    padding: 3rem;
  }
  hr {
    height: 0;
    border-style: solid;
    border-width: 0.12rem 0 0;
    width: 100%;
    color: black;
  }
  p {
    margin: 20px 0;
    color: #000;
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .inner {
    margin: 3rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
</style>
