---

---

<section class="full-bleed">
  <h3>kompetencer</h3>
  <div class="inner">
    <div></div>
    <div>
      <hr />
      <p>html</p>
      <hr />
      <p>css</p>
      <hr />
      <p>javascript</p>
      <hr />
      <p>astro</p>
      <hr />
      <p>next.js</p>
      <hr />
      <p>react</p>
      <hr />
      <p>figma</p>
      <hr />
      <p>kendskab til adobe illustrator og after effects</p>
      <hr />
      <p >KARAKTERER </p>
      <p class="low">1. semestereksamen:  12  </p>
      <p class="low">2. semestereksamen:  12  </p>
    </div>
  </div>
</section>

<style>
  section {
    background: var(--farve-5);
    padding: 4rem;
  }
  hr {
    height: 0;
    border-style: solid;
    border-width: 0.12rem 0 0;
    width: 100%;
    color: var(--sort);
  }
  p {
    margin: 20px 0;

    text-transform: uppercase;
  }
  .inner {
    margin: 3rem 3rem 0 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .low {
    text-transform:none;
  }
  @media (min-width: 800px) {
    .inner {
      margin: 3rem 3rem 0 3rem;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: 1rem;
    }
  }
</style>
