---
import { Icon } from "astro-icon/components";
---

<div class="wap">
  <div class="top">
    <h2>lidt om mig</h2>
  </div>
  <div class="ommigscrole">
    <section class="item1">
      <div></div>
      <div class="inner">
        <div class="flex">
          <p>
            Jeg har altid tænkt, at jeg vil være med til at designe fremtiden,
            men jeg har aldrig helt vidst hvordan. Indtil jeg begyndte på
            multimediedesign.
          </p>
          <Icon class="pil" name="pil" />
        </div>
      </div>
      <Icon name="pinkstjerne" />
      <!-- <Icon name="stjernerod" /> -->
    </section>
    <section class="item2">
      <div></div>
      <p>
        Her har jeg lært, hvordan man designer løsninger ved hjælp af test og
        brugerinddragelse, og jeg har arbejdet med visuelle stil og
        designstandarder.
      </p>
      <!-- <Icon name="stjernerod" /> -->
      <Icon name="pinkstjerne" />
      <!-- <Icon name="hvedstjerne" /> -->
    </section>
    <section class="item3">
      <div></div>
      <div class="inner3">
        <p>
          Men vigtigst af alt, så har jeg fundet mit kald. Jeg har lært et nyt
          sprog..
        </p>
        <p><strong> kodning</strong></p>
      </div>
      <Icon name="sortstjerne" />
      <!-- <Icon name="hvedstjerne" /> -->
    </section>
    <section class="item4">
      <div></div>
      <p>
        Jeg brænder for at udvikle og implementere fremtidens sites. Jeg har
        erfaring med HTML, CSS og Javascript. Jeg har arbejdet med best
        practice, vedligeholdelsesvenlig kode og frameworks som Astro. Senere på
        dette semester vil jeg få erfaring med Next.js og React.
      </p>
      <Icon name="pilto" />
    </section>
  </div>
</div>

<style>
  .wap {
    grid-column: full;
    display: flex;
    background: var(--farve-8);
    /* background: var(--farve-2); */
  }
  .top {
    align-self: center;
    h2 {
      color: var(--sort);
      padding: 3rem;
    }
  }
  .ommigscrole {
    scroll-snap-type: inline mandatory;
    display: flex;
    overflow-x: auto;
    > * {
      flex: 1 0 100%;
    }
  }
  .item1 {
    background: var(--hvid);
  }
  .item2 {
    background: var(--hvid);
  }
  .item3 {
    color: var(--sort);

    background: var(--farve-8);
  }
  .inner3 {
    width: fit-content;
    place-content: center;

    p {
      color: var(--sort);
    }
  }
  strong {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;

    font-size: var(--fluid-30-64);
  }
  .item4 {
    background: var(--hvid);
  }

  .inner {
    width: fit-content;
    display: grid;
    place-content: center;
    justify-items: start;
  }
  section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    block-size: 100svh;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    & :last-child {
      place-self: end;
    }
  }

  .lidtomone {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .content {
    display: grid;
    grid-column: content;
  }
  p {
    color: var(--sort);
    width: fit-content;
    font-size: var(--fluid-16-33);
    align-items: center;
    align-self: center;
  }
  [data-icon] {
    width: 60px;
    height: auto;
    margin: 40px;
  }
  [data-icon="pil"] {
    margin: 1rem 0;
    width: 6rem;
  }
</style>
