---

---

<section>
  <p>
    Jeg har altid tænkt, at jeg vil være med til at designe fremtiden, men jeg
    har aldrig helt vist hvordan. Indtil jeg begyndte på multimediedesign.
  </p>
</section>

<style>
  section {
    background: #fff;
  }
  p {
    color: #86060b;

    /* he-reg-64 */
    font-family: Helvetica;
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>
