---
import { Image } from "astro:assets";
import porter from "../assets/images/porter.png";

import Card from "./Card.astro";
import figmaopg from "../assets/images/figmaopg.png";
---

<section class="full-bleed">
  <div class="grid">
    <div class="flow">
      <h3>cases</h3>
      <p>Et par cases fra min tid på KEA.</p>
    </div>
    <article class="inner-grid">
      <Card
        img={porter.src}
        title="Portfolio"
        text="Med fokus på design og implementering."
        url="https://tinkastudios.dk/kea/06_portfolio/porterfolie/index.html"
      />
      <Card
        img={figmaopg.src}
        title="fra figma til kode"
        text="Med fokus på at oversætte udleveret figma design til kode."
        url="https://implementer-figma-opgave.netlify.app/"
      />
    </article>
  </div>
</section>
<style>
  section {
    padding: 4rem 4rem 8rem 4rem;
  }

  .img-container {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }

  .inner-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 4rem;
  }

  .flow {
    p {
      padding-top: 0.8rem;
    }
  }

  @media (min-width: 800px) {
    .inner-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }
</style>
