@layer reset, components, overrides;

@import "overrids.css" layer(overrides);

html {
  /* --mellem-text-decoration: uppercase;
  --hecapreg25-font-size: 25px;
  --hecapreg25-font-family: Helvetica, sans-serif;
  --hecapreg25-font-weight: 400;
  --hecapreg25-text-decoration: uppercase;
  --hereg20-font-size: 20px;
  --hereg20-font-family: Helvetica, sans-serif;
  --hereg20-font-weight: 400;
  --helight15-font-size: 15px;
  --helight15-font-family: Helvetica, sans-serif;
  --helight15-font-weight: 300;
  --hereg64-font-size: 65px;
  --hereg64-font-family: Helvetica, sans-serif;
  --hereg64-font-weight: 400;
  --hecapreg64-font-size: 65px;
  --hecapreg64-font-family: Helvetica, sans-serif;
  --hecapreg64-font-weight: 400;
  --hecapreg64-text-decoration: uppercase;
  --hecapreg94-font-size: 94px;
  --hecapreg94-font-family: Helvetica, sans-serif;
  --hecapreg94-font-weight: 400;
  --hecapreg94-text-decoration: uppercase;
  --hereg25-font-size: 25px;
  --hereg25-font-family: Helvetica, sans-serif;
  --hereg25-font-weight: 400;
  --hecapreg40-font-size: 40px;
  --hecapreg40-font-family: Helvetica, sans-serif;
  --hecapreg40-font-weight: 400;
  --hecapreg40-text-decoration: uppercase; */
  --fluid-30-80: clamp(1.875rem, 0.788rem + 5.4348vw, 5rem);
  --fluid-12-20: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --fluid-16-33: clamp(1rem, 0.6304rem + 1.8478vw, 2.0625rem);
  --fluid-30-64: clamp(1.875rem, 1.1359rem + 3.6957vw, 4rem);
  --fluid-30-70: clamp(1.875rem, 1.0054rem + 4.3478vw, 4.375rem);
  --sort: #000;
  --hvid: #fff;
  --farve-1: #8c2b32;
  --farve-2: #ff9a8c;
  --farve-3: linear-gradient(
      0deg,
      rgba(140, 43, 50, 0.17) 0%,
      rgba(140, 43, 50, 0.17) 100%
    ),
    #fff;
  --farve-4: #86060b;
  --farve-5: #ffb2af;
  --farve-6: #ffe7e7;
  --farve-7: #ffd0d0;
  --farve-8: #ff7097;

  /* slider lidt om  */
}

p {
  font-family: Helvetica, sans-serif;
  text-wrap: pretty;
  /* font-size: 1.25rem; */
  font-size: var(--fluid-12-20);
}

html {
  background-color: #f2dfdd;
}
main {
  margin: 0 px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
img {
  width: 100%;
  height: 100%;
}
h1 {
  /* font-size: var(--fluid-30-80); */
  font-size: var(--fluid-30-70);
}

h2 {
  color: var(--sort);
  font-family: Helvetica;
  font-size: var(--fluid-30-64);
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  color: var(--sort);
  font-family: Helvetica;
  font-size: var(--fluid-30-64);
  font-weight: 400;
  text-transform: uppercase;
  /* padding-bottom: 2rem; */
}

h4 {
  font-family: Helvetica, sans-serif;
  /* font-size: 2rem; */
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: var(--fluid-16-33);
}
a {
  text-decoration: none;
  color: #86060b;
}
